<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @*Slide slick*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/Content/main.css" rel="stylesheet" />
    @*swiper slide*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>@ViewBag.Title</title>

</head>
<body style="background-color: #ececec;">
    <div class="app">
        <div class="container-fluid header fixed-top pt-3 pb-3">
            <div class="container d-flex justify-content-between justify-content-center align-items-center">
                <div class="app-header app-header__logo">
                    <a class="text-decoration-none text-white" href="/TrangChu/TrangChu">Trang chủ</a>
                </div>
                <div class="app-header app-header__category d-flex">
                    <div class="icon-content pe-2 d-flex align-items-center"><i class="fa-solid fa-bars"></i></div>
                    <span>Danh mục</span>
                </div>
                <div class="app-header app-header__search d-flex">
                    <input type="text" name="search" value="" placeholder="Bạn cần tìm gì?" class="search-input form-control" />
                    <span class=""><i class="icon-center icon-content fa-solid fa-magnifying-glass"></i></span>
                </div>
                <div class="app-header app-header__hotline">
                    <div class="d-flex">
                        <div class="icon-content pe-2 d-flex align-items-center"><i class="fa-solid fa-headphones"></i></div>
                        <div class="d-flex flex-column">
                            <span class="lh-1">Hotline</span>
                            <span>0328097858</span>
                        </div>
                    </div>
                </div>
                <div class="app-header app-header__showroom d-flex">
                    <i class="icon-content fa-solid fa-location-dot me-2 d-flex align-items-center"></i>
                    <div class="d-flex flex-column">
                        <span class="lh-1">Hệ thống</span>
                        <span>Showroom</span>
                    </div>
                </div>
                <div class="app-header app-header__invoice d-flex">
                    <div class="icon-content pe-2 d-flex align-items-center"><i class="fa-solid fa-file-invoice"></i></div>
                    <div class="d-flex flex-column">
                        <span class="lh-1">Tra cứu</span>
                        <span>đơn hàng</span>
                    </div>
                </div>
                <a style="color: #fff;" href="@Url.Action("GioHang", "GioHang", new { userId = ViewBag.TaiKhoanId })">
                    <div class="app-header app-header__cart d-flex">
                        <div class="icon-content pe-2 d-flex align-items-center">
                            <i class="fa-solid fa-cart-shopping cart"></i>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="count-product">
                                    <span>@Session["SoLuongSanPham"]</span>
                                </div>
                            }
                        </div>
                        <div class="d-flex flex-column">
                            <span class="lh-1">Giỏ</span>
                            <span>hàng</span>
                        </div>
                    </div>
                </a>
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="app-header app-header__login d-flex">
                        <div class="icon-content pe-2"><i class="fa-solid fa-user"></i></div>
                        <a class="text-decoration-none text-white" href="/TaiKhoan/DangNhap">
                            <div class="d-flex flex-column">
                                <span class="lh-1">Đăng</span>
                                <span class="">nhập</span>
                            </div>
                        </a>
                    </div>
                }
                else
                {

                    <span>@User.Identity.Name</span>
                    <a href="/TaiKhoan/DangXuat">Đăng xuất</a>
                }
            </div>
        </div>
    </div>
    <div style="padding-top: 80px">
        @Html.Partial("_Notification")
        @RenderBody()
    </div>
    <div class="footer mt-4">
        <div class="container">
            <div class="list-infor">
                <div class="row">
                    <div class="col-lg">
                        <div class="heading-infor-item">Về gearvn</div>
                        <ul class="list-item list-unstyled">
                            <li class="detail-content item">
                                Giới thiêu
                            </li>
                            <li class="detail-content item">
                                Tuyển dụng
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg">
                        <div class="heading-infor-item">Chính sách</div>
                        <ul class="list-item list-unstyled">
                            <li class="detail-content item">
                                Chính sách bảo hành
                            </li>
                            <li class="detail-content item">
                                Chính sách giao hàng
                            </li>
                            <li class="detail-content item">
                                Chính sách bảo mật
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg">
                        <div class="heading-infor-item">Thông tin</div>
                        <ul class="list-item list-unstyled">
                            <li class="detail-content item">
                                Hệ thống cửa hàng
                            </li>
                            <li class="detail-content item">
                                Hướng dẫn mua hàng
                            </li>
                            <li class="detail-content item">
                                Hướng dẫn thanh toán
                            </li>
                            <li class="detail-content item">
                                Hướng dẫn trả góp
                            </li>
                            <li class="detail-content item">
                                Tra cứu địa chỉ bảo hành
                            </li>
                            <li class="detail-content item">
                                Dịch vụ vệ sinh miễn phí
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg">
                        <div class="heading-infor-item">Tổng đài hỗ trợ (8:00 - 21:00)</div>
                        <ul class="list-item list-unstyled">
                            <li class="detail-content item">
                                Mua hàng: <span class="contact-info">1900.5301</span>
                            </li>
                            <li class="detail-content item">
                                Bảo hành: <span class="contact-info">1099.5325</span>
                            </li>
                            <li class="detail-content item">
                                Bảo hành: <span class="contact-info">1099.6173</span>
                            </li>
                            <li class="detail-content item">
                                Bảo hành: <span class="contact-info">cskh@gearvn.com</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg">
                        <div class="heading-infor-item">đơn vị vận chuyển</div>
                        <div class="list-ship d-flex justify-content-between">
                            <div>
                                <img height="30" sizes="69px" src="~/Content/Images/DonViVanChuyen/ship_1.jpg" alt="Alternate Text" >
                            </div>
                            <div>
                                <img height="30" sizes="69px" src="~/Content/Images/DonViVanChuyen/ship_2.jpg" alt="Alternate Text">
                            </div>
                            <div>
                                <img height="30" sizes="69px" src="~/Content/Images/DonViVanChuyen/ship_3.jpg" alt="Alternate Text">
                            </div>
                            <div>
                                <img height="30" sizes="69px" src="~/Content/Images/DonViVanChuyen/ship_4.jpg" alt="Alternate Text">
                            </div>
                        </div>
                        <div class="heading-infor-item mt-3">Cách thức thanh toán</div>
                        <div class="row list-pay">
                            <div class="col-3">
                                <img height="30" sizes="69px" src="~/Content/Images/PhuongThucThanhToan/pay_1.jpg" alt="">
                            </div>
                            <div class="col-3">
                                <img height="30" sizes="69px" src="~/Content/Images/PhuongThucThanhToan/pay_2.jpg" alt="">
                            </div>
                            <div class="col-3">
                                <img height="30" sizes="69px" src="~/Content/Images/PhuongThucThanhToan/pay_3.jpg" alt="">
                            </div>
                            <div class="col-3">
                                <img height="30" sizes="69px" src="~/Content/Images/PhuongThucThanhToan/pay_4.jpg" alt="">
                            </div>
                            <div class="col-3">
                                <img height="30" sizes="69px" src="~/Content/Images/PhuongThucThanhToan/pay_5.jpg" alt="">
                            </div>
                            <div class="col-3">
                                <img height="30" sizes="69px" src="~/Content/Images/PhuongThucThanhToan/pay_6.jpg" alt="">
                            </div>
                            <div class="col-3">
                                <img height="30" sizes="69px" src="~/Content/Images/PhuongThucThanhToan/pay_7.jpg" alt="">
                            </div>
                            <div class="col-3">
                                <img height="30" sizes="69px" src="~/Content/Images/PhuongThucThanhToan/pay_8.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div style="padding: 16px 0;">
                <div class="d-flex align-items-center">
                    <h4 class="footer-title text-uppercase" style="font-size: 14px;margin: 0; font-weight: 550">Kết nối với chúng tôi</h4>
                    <div class="footer-content flex-grow-1 align-items-center justify-content-between d-flex ms-3">
                        <div class="social-list">
                            <a href=""><img width="32" height="32" src="~/Content/Images/AnhMangXaHoi/facebook_1_0e31d70174824ea184c759534430deec.jpg" alt="Alternate Text" /></a>
                            <a href=""><img width="32" height="32" src="~/Content/Images/AnhMangXaHoi/tiktok-logo_fe1e020f470a4d679064cec31bc676e4.jpg" alt="Alternate Text" /></a>
                            <a href=""><img width="32" height="32" src="~/Content/Images/AnhMangXaHoi/youtube_1_d8de1f41ca614424aca55aa0c2791684.jpg" alt="Alternate Text" /></a>
                            <a href=""><img width="32" height="32" src="~/Content/Images/AnhMangXaHoi/icon_zalo__1__f5d6f273786c4db4a3157f494019ab1e.jpg" alt="Alternate Text" /></a>
                            <a href=""><img width="32" height="32" src="~/Content/Images/AnhMangXaHoi/group_1_54d23abd89b74ead806840aa9458661d.jpg" alt="Alternate Text" /></a>
                        </div>
                        <div class="logo-footer">
                            <img height="52" src="~/Content/Images/AnhMangXaHoi/logo-bct.jpg" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/Util.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/main")
    @RenderSection("scripts", required: false)
</body>
</html>
