@model IEnumerable<ProjectQuanLyBanHang.Models.GPU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenGpu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HangSX)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenGpu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HangSX)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GpuId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GpuId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GpuId })
        </td>
    </tr>
}

</table>
